<div class="funcionario-box">
    <div class="input-box">
        <label>Procurar:</label>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Departamento</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let funcionario of funcionarios">
        <tr>

            <td>
                <img src="assets\images\nok.png" alt="" style="height: 20px; width: 20px;">
            </td>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.sobrenome }}</td>
            <td>{{ funcionario.departamento }}</td>
            <td>
                <button>Editar</button>
                <button>Detalhes</button>
            </td>
            <td>
                <button>Excluir</button>
            </td>

        </tr>
    </tbody>
</table>
